
<%# <center class="text-center text-white">Articles</center> %>
<h1 class="text-center mt-4 text-white">Articles</h1><br>

<div class="flickr_pagination">
    <%= will_paginate @article, :container => false %>
</div>
<div class="container text-end">
<%= link_to 'Create New Article', new_article_path, class:" btn btn-outline-warning" %>
</div>
<br>

	<%= render 'shared/cards', obj: @article %>


<div class="all">
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Title</th>
      <th scope="col">author</th>
      <th colspan="3"scope="col" >Handle</th>
    </tr>
  </thead>

  <tbody>
    <tr>
<% @article.each do |article| %>

      <th scope="row"><%= article.id%></th>
      <td><%= article.title%></td>
      <td><%= article.author%></td>

     </td>

    </tr>
<% end %>

	 </tbody>
</table>

</div>

</div>

<div class="flickr_pagination">
    <%= will_paginate @article, :container => false %>
</div>
