<h1 class="text-center mt-4 text-white">Members</h1><br>

<div class="flickr_pagination">
    <%= will_paginate @user, :container => false %>
</div>
<% @user.each do |user| %>

	<div class="container rounded" id="card">
		<div class="row justify-content-md-center">
		<div class="col-8 mt-4">
	    <div class="card text-center shadow p-3 mb-5 bg-white rounded">

	     <div class="card-header">
		<%# <p> <%= user.username %></p>
	    </div>

	  <div class="card-body">
		<h5 class="card-title"><%=user.username%></h5>
        <%= link_to gravatar_for(user, size: 150), user %>

		<p class="card-text"> <%=user.email%>
		<p class="card-text"> <%=pluralize(user.articles.count, "article")%></p>

         <p class="btn btn-outline-success" ><%= link_to 'View profile', user_path(user) %></p>&nbsp &nbsp
		 <% if logged_in? && user == current_user %>
			<p class="btn btn-outline-info"> <%= link_to 'Edit profile', edit_user_path(user) %></p>
			<p class="btn btn-outline-danger"><%= link_to 'delete', user_path(user), data:{
				turbo_method: :delete,
				turbo_confirm: "Are you sure?"
			} %></p>

        <%end%>

<div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
          </div>

	</div>
	</div>
	</div>
	</div>
	</div>
	<%end%>
<div class="flickr_pagination">
    <%= will_paginate @user, :container => false %>
</div>



