

<div class="container">
<div  class="row justify-content-center">

<h1 class="form-head">Sign Up Here</h1>

<div class="col-7">
<%= form_with model: @user, url: signup_path do |form| %>

<div class="mb-5">
	<%= form.label :username%>
  <%= form.text_field :username, class:"form-control", placeholder:"Krish" %>
  <% @user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<div class="mb-5">
  <%= form.label :email%>
  <%= form.email_field :email, class:"form-control",placeholder:"Krish@gmail.com" %>
  <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<div class="mb-5">
  <%= form.label :password%>
  <%= form.password_field :password, class:"form-control" %>
  <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class= "d-grid gap-2 col-6 mx-auto">
	<%= form.submit "Sign up ", class: "btn btn-info"  %>
	</div>

<% end %>

<%# <%= link_to '[Cancel signup and Go Back]', users_path %>

</div>
</div>
</div>

