<nav class="navbar navbar-light bg-light">
  <div class="container-fluid p-1 rounded ">

    <a class="navbar-brand" href="/">
      <img src="home.png" alt="" width="30" height="24" class="d-inline-block align-text-top" alt="logo">
      Home
    </a>


	<a class="navbar-brand" href="/users">
      <img src="contactus.png" alt="" width="50" height="30" class="d-inline-block align-text-top">
      Members
    </a>

<div class="nav-item dropdown">
	<a class="nav-link dropdown-toggle navbar-brand text-dark text-decoration-none" href="#"  role="button" data-bs-toggle="dropdown" >

      <img src="admin.png" alt="" width="35" height="25" class="d-inline-block align-text-top">
      Articles
    </a>
	<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
	<%# mega doubt here %>
	      <% if logged_in?  %>
            <li><%= link_to 'New Article', new_article_path,  class:"dropdown-item" %></li>
		  <%end%>

            <li><%= link_to 'View Articles', articles_path,  class:"dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
     </ul>
    </div>

	<div class="nav-item dropdown">
	<a class="nav-link dropdown-toggle navbar-brand text-dark text-decoration-none" href="#"  role="button" data-bs-toggle="dropdown" >

      <img src="category.jpg" alt="" width="35" height="25" class="d-inline-block align-text-top">
      Categories
    </a>
	<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
	<%# mega doubt here %>
	      <% if logged_in?  && current_user.admin?  %>
            <li><%= link_to 'New Category', new_category_path,  class:"dropdown-item" %></li>
		  <%end%>

            <li><%= link_to 'View all categories', categories_path,  class:"dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
     </ul>
    </div>


	<% if logged_in? %>

	<div class="nav-item dropdown">
	<a class="nav-link dropdown-toggle navbar-brand text-dark text-decoration-none" href="#"  role="button" data-bs-toggle="dropdown" >
      <%# <img src="login.png" alt="" width="35" height="24" class="d-inline-block align-text-top"> %>
	 <%= "(Admin)" if current_user.admin? %>Profile(<%= current_user.username%>)
	</a>
	 <ul class="dropdown-menu">
		  <li><%= link_to 'View Profile', user_path(current_user), class:"dropdown-item" %></li>
		  <li><%= link_to 'Edit Profile', edit_user_path(current_user), class:"dropdown-item" %></li>
		  <li><%= link_to 'Delete Profile', user_path(current_user),
		  class:"dropdown-item text-danger", data:{
				turbo_method: :delete,
				turbo_confirm: "Are you sure?"
			} %></li>

     </ul>
    </div>
	<a class="navbar-brand" href="/logout">
      <img src="login.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
	  logout
    </a>
	<%else%>
	<div class="nav-item dropdown">
	<a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" >

      <img src="signup.png" alt="" width="35" height="25" class="d-inline-block align-text-top">
      Sign up
    </a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/signup">Users signup</a></li>
            <li><a class="dropdown-item" href="#">Staff signup</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
     </ul>
    </div>
	<a class="navbar-brand" href="/login">
      <img src="login.png" alt="" width="35" height="24" class="d-inline-block align-text-top">
      Login
    </a>
	<%end%>
	<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</nav>
